@inherits LayoutComponentBase

<HxMessenger Position="ToastContainerPosition.TopEnd" />
<HxMessageBoxHost />
<PageTitle>Hathor.Web</PageTitle>

<NavMenu />

<main>
    <article>
        @Body
    </article>
</main>