@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<hr />
<HxIcon Icon="@BootstrapIcon.HandThumbsUp" CssClass="display-3" />
<hr />
<HxButton Text="Show information" OnClick="HandleAddInformationButtonClick" Color="ThemeColor.Primary" />
<HxButton Text="Show warning" OnClick="HandleAddWarningButtonClick" Color="ThemeColor.Primary" />
<HxButton Text="Show error" OnClick="HandleAddErrorButtonClick" Color="ThemeColor.Primary" />
<hr />
<HxButton Text="Clear" OnClick="HandleClear" Color="ThemeColor.Secondary" />

@code {
	[Inject] protected IHxMessengerService Messenger { get; set; }

	protected override void OnAfterRender(bool firstRender)
	{
		base.OnAfterRender(firstRender);

		if (firstRender)
		{
			Messenger.AddInformation($"Welcome to the {nameof(HxMessenger)} documentation!");
			Messenger.AddWarning("Setup", "services.AddHxMessenger(); in Startup.cs!\n<HxMessenger /> in MainLayout.razor");
		}
	}

	private void HandleAddInformationButtonClick()
	{
		Messenger.AddInformation(title: "Data encrypted", message: "All your data has been encrypted. To decrypt your data share $100 with all your teammates.");
	}

	private void HandleAddWarningButtonClick()
	{
		Messenger.AddWarning(title: "Bio hazard!", message: "Bio hazard detected in your office!");
	}

	private void HandleAddErrorButtonClick()
	{
		Messenger.AddError(title: "Error", message: "An error occurred during showing messenger message.");
	}

	private void HandleClear()
	{
		Messenger.Clear();
	}
}