@page "/search"
@using hathor.Data
@inject SliderService SliderService

<h1>Search tracks</h1>
<p>Find tracks by querying artists and track titles.</p>

<form action="/search" method="post">
    <div class="form-group">
        <label for="formSearchQuery">Search query</label>
        <input
            class="form-control"
            type="text"
            name="searchQuery"
            id="formSearchQuery"
            placeholder="Search query"
            aria-describedby="searchQueryHelp"
        >
        <small id="searchQueryHelp" class="form-text text-muted">
            Search queryies are strctured as "Artist - Track title", the complete title is not needed but use whole words.
        </small>
        <input
            type="submit"
            value="Search"
            class="btn btn-primary"
        >
    </div>
</form>

@if (tracks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Duration</th>
                <th>Add to crate</th>
                <th>Direct download</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Track track in tracks)
            {
                <tr>
                    <td>@track.FullTitle</td>
                    <td>@track.DurationInSeconds</td>
                    <td><a href='@track.DownloadUri'>Add to crate</a></td>
                    <td><a href='@track.DownloadUri'>Download</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Track> tracks;

    protected override void OnInitialized()
    {
        this.tracks = SliderService.SearchTracks("Avicii");
    }
}